* {
  box-sizing: border-box;
  font-family: monospace;
}

.panel {
  width: 600px;
  background-color: #083045;
  color: white;
  padding: 10px;

  * {
    font-size: 16px;
  }

  .span-margin-right {
    margin-right: 15px;
  }

  .next-day-button {
    vertical-align: top;
  }

  .budget {
    list-style-type: none;
    padding-left: 0;
    display: inline-block;
    margin: 0 0 15px 25px;
  }

  button {
    border: 1px white solid;
    background: #490752;
    color: white;
  }

  .purchase {
    * {
      margin-right: 10px;
    }
  }
}
