* {
  box-sizing: border-box;
  font-family: monospace;
}

.panel {
  width: 600px;
  background-color: #083045;
  color: white;
  padding: 10px;

  * {
    font-size: 18px;
  }

  .span-margin-right {
    margin-right: 15px;
  }

  ul {
    list-style-type: none;
    padding-left: 0;
  }
}
